.row a {
  font-size: 25px;
  line-height: 2;
  color: black;
}
.row {
  padding-top: 120px;
}


.row a {
  font-weight: 100!important;
}



.f-logo {
  width: 80px;
}

.f-logo.anim {
  -webkit-animation: fadeInUp .5s;
  -moz-animation: fadeInUp .5s;
  -o-animation: fadeInUp .5s;
  animation: fadeInUp .5s;


}
