.name-holder {
  -webkit-transition: opacity 0.3s 0.3s;
  transition: opacity 0.3s 0.3s;
}
html, body {
  height: 100%;
  background: rgb(40, 40, 40);
  text-align: center;
  font: 14px/24px 'Open Sans', sans-serif;
  color: #111;
}

.info {
  position: absolute;
  bottom: 45px;
  right: 18px;
  font-size: 25px;
}
.info i {
  color: #ccc;
  background: white;
  border-radius: 120px;
  width: 25px;
  height: 25px;
}

i.icon-search {
  padding: 30px;
  font-size: 30px;
  color: black;
}
.loading {
  width: 150px;
  margin: auto;
  margin-top: 20px;
}
#photos {
  margin-top: 20px;
  text-align: left;
}
.bottom-carousel {
  display: none;
}
.bottom-carousel.active {
  display: block;
}
.form-search {
  margin: 15px auto;
  width: 100%;
  display: inline;
}
.form-search li {
  display: inline;
  padding: 9px;
  padding-left: 15px;
  list-style-type: none;
  background: #f3f3f3;
  border-radius: 10px;
  box-shadow: 0 0 0 1px hsl(0, 0%, 80%);
  border: 2px solid #f0f0f0;
  margin: 0 2.5px;
  font-size: 16px;
  font-weight: 600;
}
button.btn-submit {
  /*Button calls function creating tag*/
  position: absolute;
  margin-left: 70px;
}
.tags-list {
  list-style-type: none;
  display: inline-block!important;
}
.tags-list:hover {
  background: white;
}
li.tags-anim {
  -webkit-animation: fadeInUp .5s;
  -moz-animation: fadeInUp .5s;
  -o-animation: fadeInUp .5s;
  animation: fadeInUp .5s;
}
span.tags-container {
  position: absolute;
  left: 0;
  margin-top: 6.5px;
  margin-left: 39px;
}
.full-row {
  width: 100%!important;
  margin: 0 auto;
  max-width: 900px;
  background: #fff;
  position: fixed;
  right: 0;
  left: 0;
}
.full-row input {
  border: 1px solid #ccc!important;
  padding-bottom: 3px;
  opacity: .8!important;
}
.full-row input:hover {
  opacity: 1!important;
}
::-webkit-input-placeholder {
  font-weight: 400;
  margin-top: 20px;
  padding-top: 5px;
}
.container {
  background: white;
}
.search-holder {
  background: #f3f3f3;
}
.form-search {
  display: inline-block;
  z-index: 2;
  margin-bottom: 30px!important;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 25px;
}
.anim {
  -webkit-animation: fadeInDown 1s!important;
  -moz-animation: fadeInDown 1s!important;
  -o-animation: fadeInDown 1s!important;
  animation: fadeInDown 1s!important;
}
.asset {
  background: #fff!important;
  margin: 3px .5px;
  padding-right: 0;
  padding-left: 0;
  border-bottom: 3px solid #f3f3f3;
  list-style-type: none;
  -webkit-transition: 1s;
  transition: 1s;
  margin: 5px 1px;
}
.asset.notSelected {
  -webkit-animation: appear 1.1s;
  -moz-animation: appear 1.1s;
  -o-animation: appear 1.1s;
  animation: appear 1.1s;
}
.asset.selected {
  -webkit-animation: appear 1.1s;
  -moz-animation: appear 1.1s;
  -o-animation: appear 1.1s;
  animation: appear 1.1s;
  background: #f3f3f3!important;
  border-bottom: 3px solid #3fae45;
  box-shadow: inset 0 0 100px #ccc;
  /* 			-ms-transform: scale(1.02); IE 9
	   	-webkit-transform: scale(1.02); Safari
	    				transform: scale(1.02); */
  z-index: 900;
}

.asset.selected img.asset-img-png {
   -webkit-filter: grayscale(0.9) blur(2px);
}

.fa-check-circle-o {
  display: none;
  -webkit-transition: .3s;
  transition: .3s;
}

.asset.selected .fa-check-circle-o {
  display: block;
  position: absolute;
  top:0;
  margin-top: 30px;
  right: 0;
  left: 0;
  font-size: 80px;
  color: white!important;
  z-index: 90000000000;

  -webkit-animation:fadeInUp .3s;
  animation: fadeInUp .3s;


}

.asset:hover {
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  opacity: 1;
  background: #f3f3f3!important;
}
.asset img.asset-img-png {
  margin: 0 auto;
  max-height: 140px;
  height: 140px;
  /*max-width: 240px;*/
  width: 100%;
}
#get-assets-container {
  margin-top: 100px;
  opacity: 0;
  /* -webkit-transition: 2s;
	     -moz-transition: 2s;
	      -ms-transition: 2s;
	       -o-transition: 2s;
	          transition: 2s; */
}
#get-assets-container.active {
  position: absolute;
  margin-top: -60px;
  width: 100%;
  right: 0;
  left: 0;
  margin-left: 0px;
  z-index: 100000000000000000;
  -webkit-animation: fadeInUp .5s;
  -moz-animation: fadeInUp .5s;
  -o-animation: fadeInUp .5s;
  animation: fadeInUp .5s;
  opacity: 1;
}
.get-assets-btn {
  background: #3fae45;
  width: 100%;
  margin: 0 auto;
  display: block;
  padding: 20px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border: 0;
  z-index: 9000;
  opacity: .97;
}
.get-assets-btn:hover {
  background: white;
  color: #3fae45;
  border: 1px solid #3fae45;
  opacity: .9;
}
a.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active {
  border: 1px solid gray;
}
.form-search .fa {
  color: #000!important;
}
.fa-cog {
  position: absolute;
  margin-top: 0px;
  font-size: 30px;
  margin-left: 18px;
  opacity: .1;
  transition: .2s;
}
.fa-cog:hover {
  opacity: .15;
}
.fa-cog.spin {
  -webkit-animation: rotateInApp 2s;
  -moz-animation: rotateInApp 2s;
  -o-animation: rotateInApp 2s;
  animation: rotateInApp 2s;
}
.fa-close {
  font-size: 17px;
  margin-left: 3px;
  opacity: .5;
}
.form-search .fa-chevron-down {
  position: absolute;
  margin-top: 30px;
  font-size: 32px;
  margin-left: 15px;
  opacity: .1;
  transition: 1s;
}
.fa-chevron-down.rotateInMod {
  -webkit-animation: rotateInMod 1s;
  -moz-animation: rotateInMod 1s;
  -o-animation: rotateInMod 1s;
  animation: rotateInMod 1s;
}
a .fa-chevron-down:hover {
  opacity: .5;
}
.form-search .search {
  /* border: 1px solid #ccc; */
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #999;
  height: 60px;
  width: 102%;
  margin-left: -40px;
  opacity: 0.9;
  font-size: 27px;
  display: inline;
}
.form-search .search:hover {
  opacity: 1;
}
.form-control, input {
  border-width: 0!important;
}
.form-search .search:focus {
  opacity: 1;
  color: black!important;
  outline: 0;
}
.f-logo {
  display: block;
  margin: 0 auto;
  position: absolute;
  right: 0;
  opacity: .04;
  width: 300px;
  left: 0;
  margin-top: 40px;
}

/* This is for the search box input!!!!
.form-search .search:-moz-placeholder,
.form-search .search:-ms-input-placeholder,
.form-search .search::-webkit-input-placeholder {
  color: #999;
  font-size: 30px;
  padding: 40px;
  height: 399px;
  width: 400px;
  font-weight: normal;
  position: absolute;
}

*/


/* .asset img:hover{
border: 0!important;
text-shadow: 0!important;
} */

.form-search .submit {
  display: none;
}
::-webkit-input-placeholder {
  text-align: center;
}
:-moz-placeholder {
  text-align: center;
}
::-moz-placeholder {
  text-align: center;
}
:-ms-input-placeholder {
  text-align: center;
}
input {
  text-align: center;
}
.newClass {
  background: blue!important;
}
.content-holder {
  overflow-y: scroll;
}
img.asset-img {
  height: 300px!important;
  background: red!important;
}

/* .content-holder li .asset-img {
}
 */

.content-holder {
  /* z-index: 0; */
  background: #fff!important;
  height: 500px!important;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  animation: fadeIn 2s;
  overflow-y: scroll;
  padding-left: 21.5px;
  margin-top: -30px;
}
.content-row {
  width: 100%;
  margin: 0 auto!important;
  text-align: center!important;
}
.content-holder.clicked {}
.checkbox-options-holder.inactive {
  display: none;
}
.checkbox-options-holder {
  -webkit-animation: fadeIn 1s!important;
  -moz-animation: fadeIn 1s!important;
  -o-animation: fadeIn 1s!important;
  animation: fadeIn 1s!important;
  padding-top: 0!important;
  margin: 20px 0;
  margin-top: -10px;
}
.checkbox-options-holder label {
  margin: 0 30px 0 0;
  font-weight: 400;
  font-size: 17px;
  opacity: .7;
}
.checkbox-options-holder-anim input, .checkbox-options-holder-anim label {
  font-size: 17px!important;
  -webkit-animation: fadeInUp .5s;
  -moz-animation: fadeInUp .5s;
  -o-animation: fadeInUp .5s;
  animation: fadeInUp .5s;
}
.checkbox-options-holder input {
  padding: 30px;
  background: red;
}
.content-row .col-xs-4 {
  background: white;
  height: 200px;
  width: 32.5%;
  margin: 0 auto;
  margin: 3px;
  -webkit-border-radius: 9px;
  border-radius: 9px;
}
.download-row {
  position: absolute;
  right: 0;
  left: 0;
}
.new-item {
  width: 9%;
}
.animation {
  -webkit-transition: 500ms;
  position: relative;
}
.animation.ng-leave {
  opacity: 1;
  left: 0;
}
.animation.ng-leave.ng-leave-active {
  opacity: 0;
  left: -150%;
}
.author-row {
  display: inline-block;
  width: 100%;
  margin-bottom: 4px;
  text-align: left;
  padding: 3.5px 0;
  position: relative;
}
.author-row img {
  width: 22px;
  height: 22px;
  margin-left: 15px;
  margin-top: 0;
  border-radius: 120px;
}
.author-row a {
  margin-left: 8px;
  color: #3078ca;
  opacity: .6;
  font-size: 13px;
  display: inline-block;
  margin-top: 2px;
  position: absolute;
}
.ranking-holder {
  position: absolute;
  left: 8px;
  top: 8px;
  padding: 5px;
  display: block;
  border-radius: 15px;
}
.upvote, .downvote {
  display: inline;
  font-size: 19px;
  -webkit-transition: .5s;
  transition: .5s;
}
.upvote i, .downvote i {
  color: #888;
  color: #fff;
  text-shadow: 0 0 1.5px black;
}

.upvote i.fa-star {
  color: gold;
  opacity: .7;
}
.hover-wrapper .upvote, .hover-wrapper .ranking-number, .hover-wrapper .downloads {
  opacity: 0;
}

.asset:hover .hover-wrapper .upvote, .asset:hover .hover-wrapper .ranking-number, .asset:hover .hover-wrapper .downloads   {
  opacity: 1;
}

/*
 .asset:hover .hover-wrapper .downvote, .asset:hover .hover-wrapper .upvote {
   font-size: 25px;
 }*/

.asset:hover .hover-wrapper .favorites {
 -webkit-transition: .5s!important;
 transition: .5s!important;
  opacity: 1;
}

 /*.asset:hover .hover-wrapper .ranking-number {
   font-size: 20px;
 }*/

.content-holder li:hover span.hover-wrapper {
  -webkit-transition: 2s!important;
  transition: 2s!important;
  display: inline;
}
span.ranking-number {
  display: inherit;
  font-size: 17px;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 0 .20px black;
  -webkit-transition: .5s;
  transition: .5s;

  margin-top: -2.5px!important;
margin-bottom: -2.5px!important;

}
.price {
  position: absolute;
  bottom: 6px;
  right: -15px;
  margin: 0 20px;
  font-size: 24px;
  color: #fff;
  background: #fff;

  border-radius: 5px;
  margin-right: 33px;
  border: 0;
  z-index: 9000000000000;
}
.price a {
  color: #3fae45;
  font-weight: bold;
  text-shadow: .25px .25px 0 white;
  z-index: 90000!important;
}
.downloads {
  position: absolute;
  top:0;
  right: 0;
  margin-top: 10px;
  font-size: 13px;
  margin-right: 15px;
  opacity: .4;
  color: #777;
  font-weight: 500;
}
.downloads i {
  margin-right: 5px;
}
.favorites i {
  color: #ccc;
  opacity: .6;
}
.photoshop, .illustrator {
  width: 30px!important;
}
.sketch {
  width: 40px;
}

.asset, .asset:hover, .asset.selected {
  background: #fff !important;
  box-shadow: none;
}

li.selected .filter {
  z-index:1234000000;
  width:100%;
  position:absolute;
  height: 140px;
  top:0px;
  left:0px;
  background:rgba(63, 174, 69,.3)
}
