#query {
  border: 0px !important;
  border-bottom: 1px solid #ccc !important;
  border-radius:0px;
}
.full-row {
  width: 100%!important;
  margin: 0 auto;
  max-width: 900px;
  background: #fff;
  position: fixed;
  right: 0;
  left: 0;
}
.full-row input {
  border: 1px solid #ccc!important;
  padding-bottom: 3px;
  opacity: .8!important;
}
.full-row input:hover {
  opacity: 1!important;
}


.form-search a {
  border:0;
}


.form-search {
  display: inline-block;
  z-index: 2;
  margin-bottom: 30px!important;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  max-width: 800px;
  width: 800px;
  margin: 0 auto;
  margin-top: 25px;
}




a.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active {
  border: 1px solid gray;
}
.form-search .fa {
  color: #000!important;
}
.fa-cog {
  position: absolute!important;
  margin-top: 0px!important;
  font-size: 30px!importnat;
  margin-left: 18px!important;
  opacity: .1;
  transition: .2s;
}
.fa-cog:hover {
  opacity: .15;
}
.fa-cog.spin {
  -webkit-animation: rotateInApp 2s;
  -moz-animation: rotateInApp 2s;
  -o-animation: rotateInApp 2s;
  animation: rotateInApp 2s;
}
.fa-close {
  font-size: 17px;
  margin-left: 3px;
  opacity: .5;
}
.form-search .fa-chevron-down {
  position: absolute;
  margin-top: 10px;
  font-size: 35px;
  margin-left: 0px;
  opacity: .07;
  transition: .5s;
}

a.selected i {
  -webkit-transform: rotate(180deg!imp); /* Chrome, Safari, Opera */
    transform: rotate(180deg)!important;
}

i.fa-cog {
  display: none;
}

a.selected + a i.fa-cog {
  display: block!important;

}

a .fa-chevron-down:hover {
  opacity: .5;
}

.input-search {
  opacity: .1;
  font-size: 35px;
}

.dynamic-copy-holder {
  width: 80%;
  margin: 0 auto;
  position: absolute;
  top:40px;
  left: 0;
  right: 0;
  font-size: 30px;
}

.description-text {
  background: blue;
}

.form-search .search {
  /* border: 1px solid #ccc; */
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #999;
  height: 60px;
  width: 102%;
  margin-left: -40px;
  opacity: 0.9;
  font-size: 27px;
  display: inline;
  text-align: center;
  font-weight: 200;
}
.form-search .search:hover {
  opacity: 1;
}
.form-control, input {
  border-width: 0!important;
}
.form-search .search:focus {
  opacity: 1;
  color: black!important;
  outline: 0;
}


.tags-list {
  list-style-type: none;
  display: inline-block!important;
}
.tags-list:hover {
  background: white;
}
li.tags-anim {
  -webkit-animation: fadeInUp .5s;
  -moz-animation: fadeInUp .5s;
  -o-animation: fadeInUp .5s;
  animation: fadeInUp .5s;
}
span.tags-container {
  position: absolute;
  left: 0;
  margin-top: 6.5px;
  margin-left: 25px;
}
