.name-holder {
  -webkit-transition: opacity 0.3s 0.3s;
  transition: opacity 0.3s 0.3s;
}
html, body {
  height: 100%;
  background: rgb(40, 40, 40);
  text-align: center;
  font: 14px/24px 'Open Sans', sans-serif;
  color: #111;
}
.info {
  position: absolute;
  top: 10px;
  right: 18px;
  font-size: 25px;
  -webkit-transition: 1s;
  transition: 1s;
}
.info i {
  color: #ccc;
  background: white;
  border-radius: 120px;
  width: 25px;
  height: 25px;
  opacity: .6!important;
}
.info:hover .file-type {
  -webkit-animation: fadeInUp .5s;
  animation: fadeInUp .5s;
  opacity: 1;
}
.info:hover .file-size {
  -webkit-animation: fadeInRight .5s;
  animation: fadeInRight .5s;
  opacity: 1;
}
i.icon-search {
  padding: 20px;
  font-size: 30px;
  color: black;
}
i.fa.fa-info-circle {
  font-size: 21px;
  border: 1px solid rgba(0, 0, 0, .045);
  border-radius: 98px;
  padding: 1px 2px;
  padding-left: 3px;
  opacity: .75;
}
.loading {
  width: 150px;
  margin: auto;
  margin-top: 20px;
}
#photos {
  margin-top: 20px;
  text-align: left;
}
.bottom-carousel {
  display: none;
}
.bottom-carousel.active {
  display: block;
}
.form-search {
  margin: 15px auto;
  width: 100%;
  display: inline;
}
.form-search li {
  display: inline;
  padding: 4px;
  padding-left: 13px;
  list-style-type: none;
  border-radius: 9px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0 2.5px;
  font-size: 16px;
  font-weight: 600;
  padding-right: 10px;
  margin-top: 30px;

}

button.btn-submit {
  /*Button calls function creating tag*/
  position: absolute;
  margin-left: 70px;
}
.tags-list {
  list-style-type: none;
  display: inline-block!important;
}
.tags-list:hover {
  background: white;
}
li.tags-anim {
  -webkit-animation: fadeInUp .5s;
  -moz-animation: fadeInUp .5s;
  -o-animation: fadeInUp .5s;
  animation: fadeInUp .5s;
}
span.tags-container {
  position: absolute;
  left: 0;
  margin-top: -15px;
  margin-left: 25px;
}

.ion-ios-close-empty {
  color: black;
  opacity: 1!important;
  font-size: 20px;
}
.full-row {
  width: 100%!important;
  margin: 0 auto;
  max-width: 900px;
  background: #fff;
  position: fixed;
  right: 0;
  left: 0;
}
.full-row input {
  border: 1px solid #ccc!important;
  padding-bottom: 3px;
  opacity: .8!important;
}
.full-row input:hover {
  opacity: 1!important;
}
::-webkit-input-placeholder {
  font-weight: 400;
  margin-top: 20px;
  padding-top: 5px;
}
.container {
  background: white;
}
.search-holder {
  background: #f3f3f3;
}
.form-search {
  display: inline-block;
  z-index: 2;
  margin-bottom: 30px!important;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 25px;
}
.anim {
  -webkit-animation: fadeInDown 1s!important;
  -moz-animation: fadeInDown 1s!important;
  -o-animation: fadeInDown 1s!important;
  animation: fadeInDown 1s!important;
}
.asset {
  background: #fff!important;
  margin: 3px .5px;
  padding-right: 0;
  padding-left: 0;
  box-shadow: 0 0 0 .5px hsl(0, 0%, 95%)!important;
  border-bottom: 3px solid #f3f3f3;
  list-style-type: none;
  -webkit-transition: 1s;
  transition: 1s;
  margin: 5px 1px;
}
.asset.notSelected {
  -webkit-animation: appear 1.1s;
  -moz-animation: appear 1.1s;
  -o-animation: appear 1.1s;
  animation: appear 1.1s;
}
.asset.selected {
  -webkit-animation: appear 1.1s;
  -moz-animation: appear 1.1s;
  -o-animation: appear 1.1s;
  animation: appear 1.1s;
  background: #f3f3f3!important;
  /*border-bottom: 3px solid #3fae45;*/
  border-bottom: 3px solid #000;
  box-shadow: inset 0 0 100px #ccc;
  /* 			-ms-transform: scale(1.02); IE 9
	   	-webkit-transform: scale(1.02); Safari
	    				transform: scale(1.02); */
  z-index: 900;
}
.asset.selected img.asset-img-png {
  -webkit-filter: grayscale(0.9) blur(2px);
}
.photoshop.selected, .illustrator.selected, .sketch.selected {
  -webkit-filter: grayscale(0.9) blur(0px);
}

.unselectable {
  -webkit-filter: grayscale(0.9) blur(0px);
}

.fa-check-circle-o {
  display: none;
  -webkit-transition: .3s;
  transition: .3s;
}
.asset.selected .fa-check-circle-o {
  display: block;
  position: absolute;
  top: 0;
  margin-top: 23px;
  right: 0;
  left: 0;
  font-size: 95px;
  opacity: .8;
  color: white;
  z-index: 90000000000;
  -webkit-animation: fadeInUpMod .3s;
  animation: fadeInUpMod .3s;
}
.asset:hover {
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  opacity: 1;
  background: #f3f3f3!important;
  border-bottom: 3px solid #ccc;
}
.asset img.asset-img-png {
  margin: 0 auto;
  max-height: 140px;
  height: 140px;
  /*max-width: 240px;*/
  width: 100%;
}
#get-assets-container {
  margin-top: 100px;
  opacity: 0;
  /* -webkit-transition: 2s;
	     -moz-transition: 2s;
	      -ms-transition: 2s;
	       -o-transition: 2s;
	          transition: 2s; */
}
#get-assets-container.active {
  position: absolute;
  margin-top: -60px;
  width: 100%;
  right: 0;
  left: 0;
  margin-left: 0px;
  z-index: 100000000000000000;
  -webkit-animation: fadeInUp .5s;
  -moz-animation: fadeInUp .5s;
  -o-animation: fadeInUp .5s;
  animation: fadeInUp .5s;
  opacity: 1;
}
.get-assets-btn {
  background: #3fae45;
  width: 100%;
  margin: 0 auto;
  display: block;
  padding: 20px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border: 0;
  z-index: 9000;
  opacity: .97;
}
.get-assets-btn:hover {
  background: white;
  color: #3fae45;
  border: 1px solid #3fae45;
  opacity: .9;
}
a.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active {
  border: 1px solid gray;
}
.form-search .fa {
  color: #000!important;
}
.fa-cog {
  position: absolute;
  margin-top: 0px;
  font-size: 17px;
  margin-left: 18px;
  opacity: .1;
  transition: .2s;
}
.fa-cog:hover {
  opacity: .15;
}
.fa-cog.spin {
  -webkit-animation: rotateInApp 2s;
  -moz-animation: rotateInApp 2s;
  -o-animation: rotateInApp 2s;
  animation: rotateInApp 2s;
}
.fa-close {
  font-size: 20px;
  margin-left: 3px;

  opacity: .2;
}
.fa-close:hover {
  cursor: pointer;
}
.form-search .fa-chevron-down {
  position: absolute;
  margin-top: 30px;
  font-size: 32px;
  margin-left: 15px;
  opacity: .1;
}
a .fa-chevron-down:hover {
  opacity: .5;
}
.form-search .search {
  /* border: 1px solid #ccc; */
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #999;
  height: 60px;
  width: 97.7%;
  margin-left: -36.5px;
  opacity: 0.9;
  font-size: 27px;
  display: inline;
}
.form-search .search:hover {
  opacity: 1;
}
.form-control, input {
  border-width: 0!important;
}
.form-search .search:focus {
  opacity: 1;
  color: black!important;
  outline: 0;
}
.f-logo {
  display: block;
  margin: 0 auto;
  position: absolute;
  right: 0;
  opacity: .025;
  width: 300px;
  left: 0;
  margin-top: 40px;
}

/* This is for the search box input!!!!
.form-search .search:-moz-placeholder,
.form-search .search:-ms-input-placeholder,
.form-search .search::-webkit-input-placeholder {
  color: #999;
  font-size: 30px;
  padding: 40px;
  height: 399px;
  width: 400px;
  font-weight: normal;
  position: absolute;
}

*/


/* .asset img:hover{
border: 0!important;
text-shadow: 0!important;
} */

.form-search .submit {
  display: none;
}
::-webkit-input-placeholder {
  text-align: center;
}
:-moz-placeholder {
  text-align: center;
}
::-moz-placeholder {
  text-align: center;
}
:-ms-input-placeholder {
  text-align: center;
}
input {
  text-align: center;
}
.newClass {
  background: blue!important;
}
.content-holder {
  overflow-y: scroll;
}
img.asset-img {
  height: 300px!important;
  background: red!important;
}

/* .content-holder li .asset-img {
}
 */

.content-holder {
  /* z-index: 0; */
  background: #fff!important;
  height: 500px!important;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  animation: fadeIn 2s;
  overflow-y: scroll;
  padding-left: 28.5px;
  margin-top: -10px;
}
.content-row {
  width: 100%;
  margin: 0 auto!important;
  text-align: center!important;
}
.content-holder.clicked {}
.checkbox-options-holder.inactive {
  display: none;
}
.checkbox-options-holder {
  -webkit-animation: fadeIn 1s!important;
  -moz-animation: fadeIn 1s!important;
  -o-animation: fadeIn 1s!important;
  animation: fadeIn 1s!important;
  padding-top: 0!important;
  margin: 20px 0;
  margin-top: -10px;
}
.checkbox-options-holder label {
  margin: 0 30px 0 0;
  font-weight: 400;
  font-size: 17px;
  opacity: .7;
}
.checkbox-options-holder-anim input, .checkbox-options-holder-anim label {
  font-size: 17px!important;
  -webkit-animation: fadeInUp .5s;
  -moz-animation: fadeInUp .5s;
  -o-animation: fadeInUp .5s;
  animation: fadeInUp .5s;
}
.checkbox-options-holder input {
  padding: 30px;
  background: red;
}
.content-row .col-xs-4 {
  background: white;
  height: 200px;
  width: 32.5%;
  margin: 0 auto;
  margin: 3px;
  -webkit-border-radius: 9px;
  border-radius: 9px;
}
.download-row {
  position: absolute;
  right: 0;
  left: 0;
}
.new-item {
  width: 9%;
}
.animation {
  -webkit-transition: 500ms;
  position: relative;
}
.animation.ng-leave {
  opacity: 1;
  left: 0;
}
.animation.ng-leave.ng-leave-active {
  opacity: 0;
  left: -150%;
}
.author-row {
  display: block;
  width: 100%;
  margin-bottom: 0;
  text-align: left;
  padding: 3.5px 0;
  position: relative;
}
.author-row img {
  width: 28px;
  height: 28px;
  margin-left: 15.5px;
  margin-top: -1px;
  border-radius: 120px;
  border: 1px solid #f0f0f0;
}
.author-row a {
  margin-left: 8px;
  color: #3078ca;
  opacity: .6;
  font-size: 14px;
  display: inline-block;
  font-weight: 500;
  position: absolute;
}
.ranking-holder {
  position: absolute;
  left: 15px;
  top: 10px;
  padding: 5px;
  display: block;
  border-radius: 15px;
}
.upvote, .downvote {
  display: inline;
  font-size: 19px;
  -webkit-transition: .5s;
  transition: .5s;
}
.upvote i, .downvote i {
  color: #888;
  color: #fff;
  text-shadow: 0 0 1px rgba(0, 0, 0, 1);
}
.upvote i.fa-star {
  color: white;
  opacity: .95;
}
.hover-wrapper .upvote, .hover-wrapper .ranking-number, .hover-wrapper .downloads, .hover-wrapper .download-number {
  -webkit-transition: .7s!important;
  transition: .7s!important;
  opacity: 0;
}
.asset:hover .hover-wrapper .upvote, .asset:hover .hover-wrapper .ranking-number, .asset:hover .hover-wrapper .downloads, .asset:hover .tags-row, .asset:hover .download-number {
  opacity: .9;
}
a.star .notSelected i {
  -webkit-animation: bounceIn .5s!important;
  animation: bounceIn .5s!important;
}
a.star.selected {
  text-decoration: none;
}
a.star.selected i {
  -webkit-animation: bounceIn .5s!important;
  animation: bounceIn .5s!important;
  opacity: 1;
  color: gold;
  display: block;
  font-size: 25px;
  -webkit-transform: rotate(0)!important;
  transform: rotate(0)!important;
}

/*
 .asset:hover .hover-wrapper .downvote, .asset:hover .hover-wrapper .upvote {
   font-size: 25px;
 }*/

.asset:hover .hover-wrapper .favorites {
  -webkit-transition: .5s!important;
  transition: .5s!important;
  opacity: 1;
}

/*.asset:hover .hover-wrapper .ranking-number {
   font-size: 20px;
 }*/

.content-holder li:hover span.hover-wrapper {
  -webkit-transition: 2s!important;
  transition: 2s!important;
  display: inline;
}
span.ranking-number {
  display: inherit;
  font-size: 17px;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 0 .20px black;
  -webkit-transition: .5s;
  transition: .5s;
  margin-top: -2.5px!important;
  margin-bottom: -2.5px!important;
}
.price {
  position: absolute;
  bottom: 6px;
  right: -15px;
  margin: 0 20px;
  font-size: 24px;
  color: #fff;
  background: #fff;
  border-radius: 5px;
  margin-right: 33px;
  border: 0;
  z-index: 9000000000000;
}
.price a {
  color: #3fae45;
  font-weight: bold;
  text-shadow: .25px .25px 0 white;
  z-index: 90000!important;
}

/*i.ion-ios-checkmark {
  color: red!important;
}*/

.downloads {
  position: absolute;
  top: 5px;
  right: 2px;
  margin-top: 10px;
  font-size: 13px;
  margin-right: 15px;
  opacity: .4;
  color: #777;
  font-weight: 500;
}
.downloads i {
  margin-right: 5px;
}
.favorites i {
  color: #ccc;
  opacity: .6;
}
.photoshop, .illustrator {
  width: 30px!important;
  -webkit-transition: .5s;
  transition: .5s;
}
.sketch {
  width: 40px;
  -webkit-transition: .5s;
  transition: .5s;
}
.asset, .asset:hover, .asset.selected {
  background: #fff !important;
  box-shadow: none;
}
.asset.selected:hover {
  border-bottom: 3px solid #3fae45;
}



li.selected .filter {
  z-index: 0;
  width: 100%;
  position: absolute;
  height: 140px;
  top: 0px;
  left: 0px;
  background: rgba(63, 174, 69, .3)
}
.file-type {
  position: absolute;
  top: -40px;
  padding-bottom: 20px;
  right: 0;
  opacity: 0;
}
.file-size {
  font-size: 13px;
  font-weight: bold;
  color: #000;
  text-shadow: .05px .05px .05px white;
  opacity: 1;
  right: 0;
  float: right;
  margin-right: 10px;
  opacity: .6;
}
.file-type img {
  width: 23px;
  margin-right: 1px;
  height: 23px;
  -webkit-transition: 2s;
  transition: 2s;
  opacity: .7;
}

.color-change {
  color: white!important;


  -webkit-animation: color-change .5s!important;
  animation: color-change .5s!important;
}

.tags-row {
  display: inline;
  position: absolute;
  bottom:0;
  width: 100%;
  left: 0;
  display: none;
}

.tags-row {
  display: inline;
  margin-bottom: 40px;
  height: 30px;
  overflow-y: hidden;
}

.tag-li {
  background: rgba(0, 0, 0, 0.2);
    padding: 3px 8px;
    display: inline-block;
    border-radius: 4px;
    color: white;
    font-size: 10px;
    font-weight: 600!important;
}
.dead-link {
  color: rgba(0, 0, 0, 0.5)!important;
}
.feedback {
  position: absolute;
  display: block;
  top: 90px;
  right: 90px;
}


.download-link {
  font-size: 14px;
  color: #aaa;
  display: block;
  position: absolute;
  margin-left: 20px;
  bottom: -4px;
}
