<link rel="stylesheet" href="css/carousel.css">

<div ng-controller="carouselController" class="container-fluid carousel-intro-anim" style="background: transparent!important;">
  <a class="tabs left" href><i class="fa fa-angle-left"></i> </a>
  <div class="row text-center asset-main-container" >
    <span id="assetCarousel" class="click-area">
    <a ng-click="openOutsideApplication(asset);" ng-repeat="asset in assets" class="asset-anim">
      <!-- <i class="ion-ios-close-empty"></i> -->
        <img ng-src="{{asset._source.imgSrc}}" id="imgDownloaded" class="asset-png" ng-alt="{{asset._source.name}}">
        <loader id="loader-{{asset._id}}" class="loader"></loader>
      <div class="asset-container">
        <span class="asset-size">{{asset._source.displaySize}}</span>
        <span class="load-percent"  id="percent-{{asset._id}}"></span>
      </div>
    </a>
  </span>
    <div class="sub-carousel-holder">
      <a ng-click="showSearchWindow()" href class="search-btn" >
        <i class="fa fa-search ion-ios-search-strong" style="color: black;"></i>
      </a>
      <!-- <a href class="trash-btn">
        <i class="fa fa-trash-o" style="color: black;"></i>
      </a> -->
      <a ng-click="closeBottomCarousel()" href class="close-btn" >
        <i class="ion-android-close" style="color: black;"></i>
      </a>
      <!-- <a href class="save">
        <i class="fa fa-floppy-o" style="color: black;"></i>
      </a> -->
      <!-- <a href class="save">
        <i class="fa fa-floppy-o" style="color: black;"></i>
      </a> -->
    </div>

  </div>
  <a class="tabs right" href><i class="fa fa-angle-right"></i> </a>
</div>
