<link rel="stylesheet" href="css/old-app.css">
<link rel="stylesheet" href="css/asset-detail.css">

<div controller="assetDetailCtrl" class="detail-view" style="background:white;">

  <div class="container">


    <a ui-sref="search"><i class="fa fa-search"></i></a>
    <h1 class="asset-title-name">The name of my awesome asset</h1>
    <div class="row">
      <p class="asset-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad inventore quidem aspernatur, accusantium sint cupiditate tenetur magni.</p>

      <hr>
      <div class="col-sm-4">
        <img src="http://www.lorempixel.com/225/200" alt="">
      </div>
      <div class="col-sm-4">
        <img src="http://www.lorempixel.com/225/200" alt="">
      </div>
      <div class="col-sm-4">
        <img src="http://www.lorempixel.com/225/200" alt="">
      </div>
    </div>

    <hr>

    <h3>$5</h3>

    <a class="download-btn" href="#">Download Asset</a>

  </div>


</div>
