<link rel="stylesheet" href="css/carousel.css">

<div ng-controller="carouselController" class="container-fluid">
  <a class="tabs left" href="#"><i class="fa fa-angle-left"></i> </a>
  <div class="row text-center asset-main-container">

    <a href="#">
      <div class="asset-container">
        <span class="load-percent">20%</span>
      </div>
    </a>
    <a href="#">
      <div class="asset-container">
        <span class="load-percent">40%</span>
      </div>
    </a>
    <a href="#">
      <div class="asset-container">
        <span class="load-percent">90%</span>
      </div>
    </a>
    <a href="#">
      <div class="asset-container">
        <span class="load-percent">20%</span>
      </div>
    </a>
    <a href="#">
      <div class="asset-container">
        <span class="load-percent">20%</span>
      </div>
    </a>
    <a href="#">
      <div class="asset-container">
        <span class="load-percent">20%</span>
      </div>
    </a>

    <div class="sub-carousel-holder">
      <a href="#" class="trash-btn">
        <i class="fa fa-trash-o" style="color: black;"></i>
      </a>
      <a href="#" class="save">
        <i class="fa fa-floppy-o" style="color: black;"></i>
      </a>
    </div>

  </div>
  <a class="tabs right" href="#"><i class="fa fa-angle-right"></i> </a>
</div>
