<link rel="stylesheet" href="css/main.css">

<div id="home" class="row text-center" style="margin-top: -30px;">
  <a ui-sref="search" style="text-decoration: none;">
    <img class="f-logo anim" src="img/f-logo.png" alt="">
  </a>
  <br>
  <img class="flow-logo" src="img/flow-png.png" alt="">

  <div class="row main-options" ng-controller="onboarding">

    <div class="full-row">
      <search></search>
    </div>

    <!-- <a ui-sref="search" class="btns"><i class="fa fa-search"></i></a> -->
    <!-- <a ng-click="onBoardingTransitions()" style="border: 0;" class="btns"><i class="fa fa-chevron-right"></i></a> -->

<br>
    <h4 class="copy copy-anim">Flow helps designers find and use design assets.</h4>
    <h4 class="copy copy-anim-2">Start by searching for descriptive keywords.</h4>


    <!-- <a ui-sref="search" class="next">Next <i class="fa fa-chevron-right"></i></a> -->

    <div class="onboard-row">
      <a ui-sref="signup" class="btns" style="margin-bottom: 15px;">Sign up</a>
      <p>
        or<a class="login-sty" ui-sref="login">login</a>
      </p>
    </div>
    <!-- <a ui-sref="search" class="skip">Skip</a> -->


    <br>
    <!-- <a ui-sref="bottom-carousel">Bottom Carousel</a> -->
    <br>

  </div>
</div>
