<link rel="stylesheet" href="css/old-app.css">


<div>
  <div class="full-row" ng-controller="assetSearch">
    <!-- <form class="form-search">
      <div>
          <input ng-model="query" ng-click="editTags()" ng-change="updateQuery(); addTag();" autocomplete="off" type="text" id="query"  class="search" placeholder="Search Assets" />
        <span class="tags-container">
          <li class="tags-list tags-anim" ng-repeat="tag in searchTags">
            {{tag}}
            <a title="{{$index}}" ng-click="deleteTag($index)"><i class="fa fa-close"></i></a>
          </li>
        </span>

      <a href="#" ng-click="settingsClicked()"><i class="fa fa-cog"></i></a>
      <a href="#" ng-click="assetFilterClicked()"><i class="fa fa-chevron-down"></i></a>
      <button class="btn-submit" ng-click="search()" type="submit"></button>
      </div>
    </form> -->

    <search></search>

    <div class="row checkbox-options-holder inactive checkbox-options-holder-anim">
      <input type="checkbox" value="None" id="slideOne" name="check" checked />
      <label for="slideOne">Photoshop</label>

      <input type="checkbox" value="None" id="slideTwo" name="check" checked />
      <label for="slideTwo">Illustrator</label>

      <input type="checkbox" value="None" id="slideThree" name="check" checked />
      <label for="slideThree">Sketch</label>

      <input type="checkbox" value="None" id="slideFour" name="check" checked />
      <label for="slideFour">Static Assets</label>
    </div>

    <ul class="content-holder">  <!--    {{ assets }} -->
      <img class="f-logo" src="img/f-logo.png" alt="">
      <li ng-id="{{asset._id}}" ng-repeat="asset in assets.hits.hits" ng-click="assetChosen=!assetChosen; downloadActivationQueue(); toggleAssets(asset._id);" ng-class="{notSelected:!assetChosen, selected:assetChosen}" class="col-sm-4 asset anim" style="width: 32%;">
        <img ng-src="{{asset._source.imgSrc}}" ng-alt="{{asset._source.name}}">
      </li>
    </ul>

<!-- <button></button> -->
    <div class="row" id="get-assets-container">
      <button class="get-assets-btn" ng-click="downloadAssets();">Download Assets</button>
    </div>
</div>

<script>require('./main.js')</script>


<script>
    var ipc = require('ipc')

    var button = document.createEvent('button')
    button.textContent = 'Hideeeeee'
    button.addEventListener('click', function() {
      ipc.send('hide-carousel')
    })
    document.body.appendChild(button)
</script>
