<link rel="stylesheet" href="css/old-app.css">


<div>
  <style>
  .asset, .asset:hover, .asset.selected{
  background: #fff !important;
box-shadow: none;
}
  li.selected .filter{z-index:1234000000;width:100%;position:absolute;height: 140px; top:0px;left:0px;background:rgba(63, 174, 69,.3)}</style>
  <div class="full-row" ng-controller="assetSearch">

    <search></search>

    <div class="row checkbox-options-holder inactive checkbox-options-holder-anim">
      <input type="checkbox" value="None" id="slideOne" name="check" checked />
      <label for="slideOne">
        <img class="photoshop" src="img/photoshop.png" alt=""> </label>

      <input type="checkbox" value="None" id="slideTwo" name="check" checked />
      <label for="slideTwo">
        <img class="illustrator" src="img/illustrator.png" alt="">
      </label>

      <input type="checkbox" value="None" id="slideThree" name="check" checked />
      <label for="slideThree">
        <img class="sketch" src="img/sketch.png" alt="">
      </label>

      <input type="checkbox" value="None" id="slideFour" name="check" checked />
      <label for="slideFour">Static Assets</label>
    </div>

    <ul class="content-holder">
      <!--    {{ assets }} -->
      <img class="f-logo" src="img/f-logo.png" alt="">
      <li ng-id="{{asset._id}}" ng-repeat="asset in assets.hits.hits" ng-click="assetChosen=!assetChosen; downloadActivationQueue(); toggleAssets(asset._id);" ng-class="{notSelected:!assetChosen, selected:assetChosen}" class="col-sm-4 asset anim" style="width: 32%;">
        <img ng-src="{{asset._source.imgSrc}}" ng-alt="{{asset._source.name}}" class="asset-img-png">
        <i class="fa fa-check-circle-o"></i>
        <div class="filter"></div>
        <span class="hover-wrapper">
          <div class="ranking-holder">
            <span class="upvote">
              <a href="#">
                <i class="fa fa-star-o"></i>
              </a>
            </span>
            <span class="ranking-number">120</span>

          </div>

          <div class="downloads">
            <span class="download-number"><i class="fa fa-download"></i>1.2k</span>
          </div>

          <div class="price">
            <a ui-sref="asset-detail">$5</a>
          </div>
        </span>
        <span class="author-row">
          <img src="https://randomuser.me/api/portraits/med/women/93.jpg" alt="">
          <a ui-sref="author">Lorem Ipsum</a>
        </span>
      </li>
    </ul>

    <!-- <button></button> -->
    <div class="row" id="get-assets-container">
      <button class="get-assets-btn" ng-click="downloadAssets();">Download Assets</button>
    </div>
  </div>

  <script>
    require('./main.js')
  </script>


  <script>
    var ipc = require('ipc')

    var button = document.createEvent('button')
    button.textContent = 'Hideeeeee'
    button.addEventListener('click', function() {
      ipc.send('hide-carousel')
    })
    document.body.appendChild(button)
  </script>
